
    h1 {
        color: white;
        font-family: sans-serif;

    }
    .welcome{
        color:white;
        font-family: sans-serif;
        background-color: red;
    }

    title {

        color: white;
        font-family: sans-serif;

    }

    p {
        color: white;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
    }

    .scare {
        background-image: url(jigsaw-movie.jpg);
    }

  /*  .urgent{

        color: green;
        font-family: sans-serif;

    }*/
/*
    body {
        background: url(jigsaw-movie.jpg);
    }
*/
