<!doctype html>
<html>
<head>
  <title>Hi There!</title>
  
  <link rel="stylesheet"
        href="/static/madlibs.css">
</head>
<body>

<h1>WELCOME</h1>

<form action="/madlib">
  Please enter a name: <input type="text" name="person"><br>
  Please give a noun:  <input type="text" name="noun"><br>
  Please give an adjective: <input type="text" name="adjective"><br>

  Please select a color:
  <select name="color">
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Light Salmon 1">Light Salmon 1</option>
        <option value="Cornflower">Cornflower</option>
        <option value="Syntax Error White">Syntax Error White</option>
        <option value="George Yellow">George Yellow</option><br>
  <input type="submit">
</form>

</body>
</html>
