<!doctype html>
<html>
<head>
  <title>MadLib</title>
</head>

<link rel="stylesheet"
        href="/static/madlibs.css">
<body>
    <p>There once was a {{ noun }} sitting in the Hackbright Lab.<br>When {{ person }} went to pick it up, it burst into flames in a totally {{adjective}} way.<br>
    The {{ animal }} ran to get the fire extinguisher but accidentally tripped over the {{ adjective2 }}<br>Official South Bay Hackbright extension cord and <br>sprayed the extinguisher, covering the {{ noun2 }} in {{ color }} foam.<br>
    </p>
</body>
</html>